:root {
    background-color: #29323c;
    /* background-color: #434343; */
    --main-color: white;
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    --coal: #222831;
    --light-black: #393e46;
    --light-cyan: #00fff5;
    --dark-cyan: #00adb5;
} 

/* CSS reset */

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* --- Body --- */
body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
li {
  color: var(--coal);
}


/* --- Nav --- */
 /* phone nav rules here */

/* end of phone nav rules */

  /*desktop nav rules here */
@media only screen and (min-width: 829px) {
  nav {
    background-color: var(--light-cyan);
    height: 50px;
  }
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navlist {
    display: flex;
    list-style-type: none;
  }
  .navlist a {
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.5em;
  }
  .navlist a:hover {
    background-color: var(--coal);
    color:white;
  }
  .navlist li:hover {
    color: white;
  }
}

/* --- Main --- */
body {
  color: white;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section {
  background-color: var(--coal);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#projects {

}
.project-grid {
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.project-tile:hover figcaption {
  color: var(--light-cyan);
}
.project-img {
  margin: 1rem;
}
.project-img > figcaption {
  text-align: center;
  color: var(--dark-cyan);
  background-color: var(--coal);
  position: relative;
  top: -6px;
  padding: 12px 0px;
}


#linkup {
  background-color: var(--coal);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contact-details a {
  color: white;
  margin: 0 12px;
  font-size: 1.5em;
}
.linkup-text-section h1 {
  font-size: 32px;
  text-align: center;
}
.linkup-text-section h3 {
  text-align: center;
  margin-top: 5px;
}

/* .btn-show-all:hover > i {
  transform: translateX(2px);
}
.contact-details {
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
} */


/* --- Images --- */
.logo {
  height: 500px;
  display: flex;
}
.dylandesignlogo > figcaption {
  text-align: center;
  font-size: 32px;
  margin-top: 15px;
}
.project-imgs {
  width: 400px;
}


/* --- Footer --- */
footer {
  background-color: var(--coal);
  text-align: center;
  color: white;
}
footer {
  padding: 1rem;
  border-top: 4px solid var(--dark-cyan);
}

/* --- media --- */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
      #welcome-section, #projects, #linkup, footer {
        width: 53vh
      }
      #navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
      }
      .navlist {
        display: flex;
        list-style-type: none;
        margin-right: 35px;
      }
      
    }

@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
  .logo {
    width: 500px;
  }
  .project-img > img {
    max-width: 200px;
  }
  nav {
    background-color: var(--light-cyan);
    height: 50px;
  }
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
  }
  .navlist {
    display: flex;
    list-style-type: none;
  }
  .navlist a {
    text-decoration: none;
    padding: 1em;
    font-size: 2em;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 60%;
  }
  #welcome-section, #projects, #linkup {
    width: 50vh
  }
  nav {
    
  }
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navlist {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
  }
  .navlist a {
    text-decoration: none;
    font-size: 2.5em;
  }
  .project-img > img {
    max-width: 210px;
  }
  h3 {
    font-size: 16px;
  }
}


/* --- Other --- */
.h1-blank {
  color: white;
  margin-top: -2em;
}
div.keepOpen {
  clear: both;
}


