*,
*::before,
*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: white;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 163);
  --br: 0.5em;
  --transisiton: transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01);
}

body {
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  font-family: sans-serif;
  min-height: 100vh;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: 400%, 400%;
  background-repeat: round repeat-x;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

.pokegrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

.pokecard {
  position: relative;
  width: 12.5em;
  cursor: pointer;
  margin: 7em;
  margin-right: -2em;
}

.thumbnail {
  width: 200px;
}

.blue-level {
  color: cyan;
}

.green {
  color: green;
}

.white {
  color: white;
}

.fa-bolt {
  color: gold;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  padding: 0.5em 1.5em;
  font-weight: bold;
}

.small-script {
  font-size: 14px;
  margin: 5px;
  font-family: sans-serif;
  opacity: 0.5;
  color: var(--clr-secondary);
}

@media only screen and (min-width: 390px) and (max-height: 844px) {
  header {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1920px) {
  /* insert styles here */
  header {
    margin-bottom: 250px;
  }
}

.poke-profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.poke-profile-pic img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.type {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 100;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em 0.5em 0.75em;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0% 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0% 100%, 0 0);
  -webkit-transition: var(--transisiton);
  transition: var(--transisiton);
}

.front {
  -webkit-transition: 250ms;
  transition: 250ms;
}

.front .thumbnail {
  border-radius: var(--br);
  max-width: 200px;
  max-height: 275px;
}

.front .name {
  margin: 0.75em 0;
}

.front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .poke-profile-pic img {
  border: 2px solid var(--clr-dark);
}

.front .poke-profile-pic img:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}

.front .poke-profile-pic img:nth-of-type(2) {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.back {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.back .green {
  color: green;
}

.back .white {
  color: white;
}

.back .stream-info {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid #fffb00;
          column-rule: 1px solid #fffb00;
  margin: 1em 0;
}

.back .game-stat {
  font-size: 1.25rem;
  text-align: center;
}

.back .game-stat span {
  display: block;
  font-size: 0.85rem;
}

.background {
  background: #282e36;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: 12.5em;
  background-repeat: round;
  background-position: top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  border-radius: var(--br);
  opacity: 0;
}

.pokecard:hover .type {
  -webkit-transform: translate(150%, -82.5%);
          transform: translate(150%, -82.5%);
}

.pokecard:hover .front {
  -webkit-transform: translateY(-35%) scale(0.8);
          transform: translateY(-35%) scale(0.8);
}

.pokecard:hover .front .name {
  -webkit-animation: gameName 250ms forwards;
          animation: gameName 250ms forwards;
}

.pokecard:hover .front .stats {
  opacity: 0;
}

.pokecard:hover .back {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 150ms linear;
  transition: transform 250ms ease, opacity 150ms linear, -webkit-transform 250ms ease;
}

.pokecard:hover .back .poke-profile-pic {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pokecard:hover .back .steamer {
  font-size: 0.9rem;
}

.pokecard:hover .back .name {
  font-weight: bold;
}

.pokecard:hover .background {
  -webkit-transition: opacity 100ms linear, -webkit-transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01);
  transition: opacity 100ms linear, -webkit-transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01);
  transition: transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01), opacity 100ms linear;
  transition: transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01), opacity 100ms linear, -webkit-transform 250ms cubic-bezier(0.21, 1.06, 0.81, 1.01);
  opacity: 1;
  -webkit-transform: scale(1.4, 1.2);
          transform: scale(1.4, 1.2);
  border: yellow solid 2px;
  -webkit-clip-path: polygon(29% 35%, 69% 35%, 69% 0, 100% 0, 100% 100%, 0 100%, 0 0, 29% 0);
          clip-path: polygon(29% 35%, 69% 35%, 69% 0, 100% 0, 100% 100%, 0 100%, 0 0, 29% 0);
}

@-webkit-keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=style.css.map */