:root {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: url(/imgs/starwars_space.png);
    background-size: cover;
    color: white;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    margin: 5px;
}

img {
    border-style: double;
}

footer {
    text-align: center;
}